$gameWidth: 500px
$headerHeight: 55px

.finish
    background-image: url('/src/assets/background.png')
    background-size: contain
    background-repeat: no-repeat
    height: calc(100vh - #{$headerHeight})
    width: $gameWidth
    display: flex
    flex-direction: column
    text-align: center
    font-size: 5em
    justify-content: space-evenly
    align-items: center
