// .footer
//     a
//         button
//             padding: 1em 2em
//             border: 6px solid black
//             border-radius: 10px
//             color: white
//             text-transform: uppercase
//             font-weight: bold
//             font-family: 'strong brain'
//             background: #9a2986

button.next
    cursor: pointer
    display: flex
    font-family: 'Strong Brain'
    line-height: 2.5em
    padding: .7em 2em
    border: 0
    font-size: 1.3em
    text-decoration: none

    background: #9a2986
    color: #fff
    &:hover, &:active
        background: #a15894
        color: white
        text-decoration: none