.background
    background-image: url('~/public/assets/background.png')
    height: 100vh
    width: 1080px
    background-attachment: fixed
    background-size: contain
    background-repeat: no-repeat
    width: auto