$gameWidth: 500px
$headerHeight: 55px

.loading
    background-color: #292222
    height: calc(100vh - #{$headerHeight})
    color: white
    display: flex
    justify-content: center
    font-size: 3em
    align-items: center
